* {
    margin: 0;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: antiquewhite;
    padding: 20px;
}

.start {
    width: 200px;
    background-color: plum;
}